*{
    margin:0;
    padding: 0;
    box-sizing: 0;/*mantém o width mesmo com o acréscimo de outras tags tipo o padding*/
}

body{
    height:100vh;
    border:10px solid var(--bg-color);
    border-radius: 40px;
    background-color: var(--bg-color);
    

}

body *{
    font-family: 'Poiret One', cursive;
}



:root{
    --bg-color: rgb(212, 210, 210);
    --text-color-grey:#828799;
    --box-shadow:rgba(0, 0, 0, 0.562);
    --text-color-black:black;
}


main{
    height: 100vh;
    background-image: url('./assets/pricing-table-background.png') ;
    background-size: cover;
    border-radius: 40px;
    min-width: 824px;
}

/*MAIN CABEÇALHO*/

div h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}

div h3{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    text-wrap:wrap;
    width: 553px;
    margin: auto;/*precisei usar mesmo ja tendo aling items porque defini uma largura, e o margin auto funciona nesses casos*/
    text-align: center;

    padding-bottom: 65px;
}



/*MAIN BOXES*/

section{

    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;

   
}


 /*MAIN LISTA*/
section div ul {   
    
    list-style: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color:var(--text-color-grey);
   
   
}


div ul li{
 
    padding: 10px 0;
}

div ul li img{/*check list symbol*/
    padding-right: 15px;
   
}

section div p:nth-child(1){ /*Free*/
    font-size: 18px;
    font-style: normal;
    font-weight: 600;

    padding-bottom: 20px;
    max-width: 360px;

    display: flex;
    align-items: center;

    
   
}

section> div> p:nth-child(3){ /*Free*/
    
    
    color: var(--text-color-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    padding-bottom: 40px;
    max-width: 360px;

    display: flex;
    align-items: center;

    
}



#box2 h3{/*yellow box 'básico'*/
    display: flex;
    border-radius: 10px;
    background-color: #FFCC29;
    justify-content: space-between;
    width: 100%;
    margin:0;
    padding: 0;
    align-items:center ;

}

#box2 h3> button:nth-child(2) {/*blue box 'popular'*/
    display: flex;
    padding: 12px;
    border-radius: 30px;
    background-color: #1D539E;;
    margin-bottom: auto;
    
    color: white;
    margin-right: 5px;
}

div h3 p{
    padding: 15px;
}




section div h2{ /*99,99*/

    display: flex;
    align-items: center;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;

    padding-bottom: 10px;
}

    #box1 h2 p,/*  texto "/mês" */
    #box2 h2 p,
    #box3 h2 p {
        color: var(--text-color-grey);
        padding-top: 20px;
}



 

/*BUTTON*/

button{

border: none;
background-color: #1d539e5e;
border-radius: 20px;
padding: 20px;

margin-top: auto;



font-size: 18px;
font-style: normal;
font-weight: 600;
color: white;
}


/*BOXes MAIN*/

#box2{
    
    padding-top: 85px;
    
}

#box1, #box3{
    margin-top: 75px;

}

#box1, #box2, #box3{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 

    border-radius: 20px;

    display: flex;
    
    width: 355px;
    height: 470px;
    flex-direction: column;
    padding:30px 30px ;

    transition: 1s;

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.493),
        rgba(209, 192, 255, 0.205));
    
    
}
    

/*HOVER */

#box1:hover, #box2:hover, #box3:hover {
   
   
    
    background-color: rgba(188, 158, 243, 0.288);
    transition: 1s;
    transform: scale(1.1);
    
  }
  


button:hover{
    background-color: rgba(202, 219, 235, 0.493);
    transition: 0.4s;
    color: var(--text-color-black);
}




#box1:hover, #box2:hover, #box3:hover {
  
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.493),
        rgba(206, 192, 255, 0.493));
    transition: 1s;
  }
  

 

  @media screen and (max-width: 500px) {
    
  
    main {
    background-image: url(./assets/pricing-table-background-phone.png);
    min-height:2300px;
    
    }
 
    section{
        flex-wrap: wrap;
        font-size::large;
    }


    #box1, #box2, #box3{
        
        width: 100%;
        margin: 60px;
    }



}
  

  