*{
    margin:0;
    padding: 0;
    box-sizing: 0;/*mantém o width mesmo com o acréscimo de outras tags tipo o padding*/
}

body{
    height:100vh;
    border:10px solid var(--bg-color);
    border-radius: 40px;
    background-color: var(--bg-color);
    

}

body *{
    font-family: 'Quicksand', sans-serif;

}



:root{
    --bg-color: rgb(212, 210, 210);
    --text-color-grey:#828799;
    --box-shadow:rgba(0, 0, 0, 0.562);
    --text-color-black:black;
}


main{
    height: 100vh;
    background-image: url('./assets/pricing-table-background.png') ;
    background-size: cover;
    border-radius: 40px;
}

/*MAIN CABEÇALHO*/

div h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}

div h3{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    text-wrap:wrap;
    width: 553px;
    margin: auto;/*precisei usar mesmo ja tendo aling items porque defini uma largura, e o margin auto funciona nesses casos*/
    text-align: center;

    padding-bottom: 65px;
}



/*MAIN BOXES*/

section{

    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;

   
}



section div ul {    /*lista*/
    list-style: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color:var(--text-color-grey);

   
}

section div p:nth-child(1){ /*Free*/
    font-size: 18px;
    font-style: normal;
    font-weight: 600;

    padding-bottom: 20px;
    max-width: 360px;

    display: flex;
    align-items: center;

    
   
}



#box2 > p:nth-child(1) {
    border-radius: 10px;
    background-color: #FFCC29;
   
}

#box2 > p:nth-child(2) {
    display: flex;
    position: absolute;
    
    left: 54%;
    padding: 5px 15px 10px;
    border-radius: 30px;
    background-color: #1D539E;;

    margin-top: 4px;
    
    color: white;

    
}

section div h2{ /*99,99*/

    display: flex;
    align-items: center;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;

    padding-bottom: 10px;
}

#box1 h2 p,/*  texto "/mês" */
#box2 h2 p,
#box3 h2 p {
    color: var(--text-color-grey);
    padding-top: 20px;
}

section div p:nth-child(3){/*descrição da box*/
    color: blue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color-grey);
    padding-bottom: 40px;
}


 

/*BUTTON*/

button{

border: none;
background-color: #1d539e5e;
border-radius: 20px;
padding: 20px;

margin-top: auto;
}



#box2{
    
    padding-top: 85px;
    
}

#box1, #box3{
    margin-top: 75px;

}

#box1, #box2, #box3{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 

    border-radius: 20px;

    display: flex;
    width: 355px;
    height: 470px;
    flex-direction: column;
    padding:30px 30px ;

    transition: 1s;

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.493),
        rgba(255, 192, 203, 0.205)
    );
 
    
}
    

/*HOVER */

#box1:hover, #box2:hover, #box3:hover {
   
    animation: jump 1.5s ease-in-out;
    
    background-color: rgba(226, 158, 243, 0.288);
    transition: 1s;
    transform: scale(1.1);
    
  }
  


button:hover{
    background-color: rgba(202, 219, 235, 0.493);
    transition: 0.4s;
}



#box1:hover, #box2:hover, #box3:hover {
  
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.493),
        rgba(255, 192, 203, 0.493)
    );
    transition: 1s;
  }
  

 